<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card primary"><div class="card-body">
            <h5 class="card-title">{{plateNumbers.length}}</h5>
            <h6>Total Cars </h6>
        </div></div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card secondary"><div class="card-body">
            <h5 class="card-title">{{pendingInvoices.length}}</h5>
            <h6>Pending Invoices</h6>
        </div></div>
      
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card warning"><div class="card-body">
            <h5 class="card-title">{{paid}}</h5>
            <h6>Paid Invoices</h6>
        </div></div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card danger"><div class="card-body">
            <h5 class="card-title">{{pendingInvoices?.length}}</h5>
            <h6>Pending Invoices</h6>
        </div></div>
    </div>
</div>
